/*
 Theme Name:   acoustics child
 Theme URI:    http://example.com/twenty-fifteen-child/
 Description:  acoustics
 Author:       codegearthemes
 Author URI:   http://example.com
 Template:     acoustics
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  acoustics
*/

.section-title.h4{
    font-size: 30px;
}

.woocommerce-loop-product__title {
    min-height: 46px;
}

#um-submit-btn{
    background: black;
}

p.um-notice.err{
    background: crimson !important;
}

.um-field-error{
    background: crimson !important;
}

.um-faicon-caret-up{
    display: none;
}

.um input[type=submit].um-button{
    background: black !important;
}

.um-request-button{
    background: black !important;
}

.um-misc-ul{
    background-color: #ebeae8;
}

.um-misc-ul li{
    font-size: 20px !important;
}

.copyright-credit a{
    display: none !important;
}

.copyright-credit:after{
    content: 'Matthew Pavia' !important;
}

.tribe-common-c-btn{
    background-color: black !important;
}

.tribe-events .tribe-events-c-ical__link{
    color : black;
    border: 2px solid black !important;
}

.tribe-events .tribe-events-c-ical__link:hover{
    color : white !important;
    background-color: black !important;
}

.section-page-header{
    background-color: #1c1c1c !important;
}

.entry-title{
    color: white !important;
}

.trail-item{
    color: white !important;
}

.trail-item .trail-begin{
    color: white !important;
}

.section-page-header .breadcrumb-trail .trail-items .trail-item a{
    color: white !important;
}

.woocommerce-products-header{
    background-color: #1c1c1c !important;
    color: white !important;

}

.woocommerce .woocommerce-products-header .woocommerce-products-header__title{
    color: white !important;
}

.woocommerce .woocommerce-breadcrumb a{
    color: white !important;
}